repos:
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: yarn run tsc --noEmit --project .
        language: system
        pass_filenames: false
        verbose: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: yarn run eslint
        language: system
        types: [file]
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: true
        verbose: true
