name: test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:

  test-js:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: yarn
      - name: install typescript dependencies
        shell: bash
        run: |
          yarn install --immutable
      - name: test the app
        shell: bash
        run: |
          yarn test
      - name: typecheck the app
        shell: bash
        # Using --noEmit because we only care about typechecking, not compiling
        run: |
          yarn run tsc --noEmit
      - name: lint the app
        shell: bash
        run: |
          yarn run eslint src

  test-py:
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'checkout repo'
        uses: 'actions/checkout@v4'
      - name: 'set up python'
        # This is the version of the action for setting up Python, not the Python version.
        uses: 'actions/setup-python@v4'
        with:
          python-version: '3.11'
          cache: 'pip'
      - name: 'install pip dependencies'
        run: |
          python -m pip install --upgrade pip==24.0
          pip install -r scripts/requirements.txt
      - name: 'check types'
        run: |
          python -m mypy --strict scripts/fetch_search_database.py
      - name: 'check formatting'
        run: |
          python -m black --check --diff scripts/fetch_search_database.py
